<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        bootstrap="bootstrap.php"
        stopOnError="true"
        stopOnFailure="true"
        stopOnIncomplete="true"
        stopOnSkipped="true"
        stopOnRisky="true"
        verbose="true"
        colors="true"
        cacheResult="false"
>
    <filter>
        <whitelist>
            <directory suffix=".php">app/</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="Europe/Moscow"/>
    </php>
</phpunit>
